{% extends 'index.html' %}

{% block content %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Eventex</a>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            
            <h2>Inscription</h2>

            <div class="col-md-12 contact-form">
                <form action="{% url 'create-inscription' %}" method="POST" class="form-horizontal" accept-charset="utf-8"> 
                    <fieldset>

                        {% csrf_token %}
                        
                        {% for obj in form %}

                            <div class="form-group">
                                
                                <div class="col-md-12">
                                    {{ obj }}
                                </div>

                                {% if obj.errors %}
                                    {{ obj.errors }}
                                {% endif %}

                            </div>

                        {% endfor %}

                        <div class="control-group">
                            <div class="col-md-1">
                                <input class="btn btn-default" type="submit" value="Send">
                            </div>
                        </div>
                    
                    </fieldset>
                </form>

            </div>
            
            <ul class="list-inline banner-social-buttons">
                <li><a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li><a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        
        </div>
    </div>
</section>

{% endblock content %}